### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Loading the dataset "Daily.Activity"

###

In [2]:
df = pd.read_csv("Activity.csv")

### Check structure, missing values, duplicates and data types

In [3]:
df.head()

,Customer_ID,Activity_Date,Day_of_Week,Total_Steps,Total_Distance,Tracker_Distance,Very_Active_Distance,Moderately_Active_Distance,Light_Active_Distance,Sedentary_Active_Distance,Very_Active_Minutes,Fairly_Active_Minutes,Lightly_Active_Minutes,Sedentary_Minutes,Calories
0,1503960366,4/12/2016,Tuesday,13162,8.50,8.50,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,Wednesday,10735,6.97,6.97,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,Thursday,10460,6.74,6.74,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,Friday,9762,6.28,6.28,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,Saturday,12669,8.16,8.16,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 940 non-null    int64
 1   Activity_Date               940 non-null    object
 2   Day_of_Week                 940 non-null    object
 3   Total_Steps                 940 non-null    int64
 4   Total_Distance              940 non-null    float64
 5   Tracker_Distance            940 non-null    float64
 6   Very_Active_Distance        940 non-null    float64
 7   Moderately_Active_Distance  940 non-null    float64
 8   Light_Active_Distance       940 non-null    float64
 9   Sedentary_Active_Distance   940 non-null    float64
 10  Very_Active_Minutes         940 non-null    int64
 11  Fairly_Active_Minutes       940 non-null    int64
 12  Lightly_Active_Minutes      940 non-null    int64
 13  Sedentary_Minutes           940 non-null    int64
 14  Calories                    940 non-null    int64
dtypes: float64(6), int64(7), object(2)
memory usage: 110.3+ KB

In [5]:
df.describe()

,Customer_ID,Total_Steps,Total_Distance,Tracker_Distance,Very_Active_Distance,Moderately_Active_Distance,Light_Active_Distance,Sedentary_Active_Distance,Very_Active_Minutes,Fairly_Active_Minutes,Lightly_Active_Minutes,Sedentary_Minutes,Calories
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,7637.910638,5.489702,5.475351,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
std,2.424805e+09,5087.150742,3.924606,3.907276,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,10727.000000,7.712500,7.710000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,36019.000000,28.030000,28.030000,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000

In [6]:
# Inspect columns
df.columns

Index(['Customer_ID', 'Activity_Date', 'Day_of_Week', 'Total_Steps',
       'Total_Distance', 'Tracker_Distance', 'Very_Active_Distance',
       'Moderately_Active_Distance', 'Light_Active_Distance',
       'Sedentary_Active_Distance', 'Very_Active_Minutes',
       'Fairly_Active_Minutes', 'Lightly_Active_Minutes', 'Sedentary_Minutes',
       'Calories'],
      dtype='object')

In [7]:
# checking for null values
df.isnull().sum()

Customer_ID                   0
Activity_Date                 0
Day_of_Week                   0
Total_Steps                   0
Total_Distance                0
Tracker_Distance              0
Very_Active_Distance          0
Moderately_Active_Distance    0
Light_Active_Distance         0
Sedentary_Active_Distance     0
Very_Active_Minutes           0
Fairly_Active_Minutes         0
Lightly_Active_Minutes        0
Sedentary_Minutes             0
Calories                      0
dtype: int64

### Column cleaning and standardization

In [8]:
# Column cleaning and standardization
df.columns = (
    df.columns
    .str.strip()                   # removes invisible spaces
    .str.lower()                   # makes everything lowercase
    .str.replace(" ", "_")         # replaces spaces with underscores
    .str.replace(".", "_", regex=False)  # replaces literal periods with underscores
)    

# Verifying the changes
df.columns

Index(['customer_id', 'activity_date', 'day_of_week', 'total_steps',
       'total_distance', 'tracker_distance', 'very_active_distance',
       'moderately_active_distance', 'light_active_distance',
       'sedentary_active_distance', 'very_active_minutes',
       'fairly_active_minutes', 'lightly_active_minutes', 'sedentary_minutes',
       'calories'],
      dtype='object')

In [9]:
# converting 'Activity_Date' to datetime format
df['activity_date'] = pd.to_datetime(df['activity_date'])

# Verifying the changes
df.columns

# confirming the conversion
df.dtypes

customer_id                            int64
activity_date                 datetime64[ns]
day_of_week                           object
total_steps                            int64
total_distance                       float64
tracker_distance                     float64
very_active_distance                 float64
moderately_active_distance           float64
light_active_distance                float64
sedentary_active_distance            float64
very_active_minutes                    int64
fairly_active_minutes                  int64
lightly_active_minutes                 int64
sedentary_minutes                      int64
calories                               int64
dtype: object

In [10]:
# renaming 'activity_date' column to 'date':
df = df.rename(columns={'activity_date': 'date'})

# Verifying the changes
df.columns

Index(['customer_id', 'date', 'day_of_week', 'total_steps', 'total_distance',
       'tracker_distance', 'very_active_distance',
       'moderately_active_distance', 'light_active_distance',
       'sedentary_active_distance', 'very_active_minutes',
       'fairly_active_minutes', 'lightly_active_minutes', 'sedentary_minutes',
       'calories'],
      dtype='object')

In [11]:
# checking for duplicate rows
df.duplicated().sum()

np.int64(0)

### 
Adding Useful Columns

In [12]:
# Adding useful columns
df['month'] = df['date'].dt.month

# Calculate total minutes of activity
df['total_active_minutes'] = (df['very_active_minutes'] + df['fairly_active_minutes'] + df['lightly_active_minutes'])

In [13]:
# Steps to distance ratio (to detect outliers)
df['steps_to_distance_ratio'] = round(df['total_steps'] / df['total_distance'].replace(0, np.nan),1)  # to avoid division by zero

In [14]:
# Saving the cleaned dataframe
df.to_csv("Cleaned_Activity.csv", index=False)