### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Loading file 'Sleep.Day'

In [2]:
sleep_df = pd.read_csv('Sleep.csv')

### Check structure, missing values, duplicates and data types.

In [3]:
sleep_df.head()

,Customer_Id,Sleep_Day,Day_of_Week,Total_Sleep_Records,Total_Minutes_Asleep,Total_Time_In_Bed
0,1503960366,4/12/2016,Tuesday,1,327,346
1,1503960366,4/13/2016,Wednesday,2,384,407
2,1503960366,4/15/2016,Friday,1,412,442
3,1503960366,4/16/2016,Saturday,2,340,367
4,1503960366,4/17/2016,Sunday,1,700,712

In [4]:
sleep_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_Id           410 non-null    int64
 1   Sleep_Day             410 non-null    object
 2   Day_of_Week           410 non-null    object
 3   Total_Sleep_Records   410 non-null    int64
 4   Total_Minutes_Asleep  410 non-null    int64
 5   Total_Time_In_Bed     410 non-null    int64
dtypes: int64(4), object(2)
memory usage: 19.3+ KB

In [5]:
sleep_df.describe()

,Customer_Id,Total_Sleep_Records,Total_Minutes_Asleep,Total_Time_In_Bed
count,4.100000e+02,410.000000,410.000000,410.000000
mean,4.994963e+09,1.119512,419.173171,458.482927
std,2.060863e+09,0.346636,118.635918,127.455140
min,1.503960e+09,1.000000,58.000000,61.000000
25%,3.977334e+09,1.000000,361.000000,403.750000
50%,4.702922e+09,1.000000,432.500000,463.000000
75%,6.962181e+09,1.000000,490.000000,526.000000
max,8.792010e+09,3.000000,796.000000,961.000000

In [6]:
sleep_df.columns

Index(['Customer_Id', 'Sleep_Day', 'Day_of_Week', 'Total_Sleep_Records',
       'Total_Minutes_Asleep', 'Total_Time_In_Bed'],
      dtype='object')

### Checking for missing values

In [7]:
sleep_df.isnull().sum()

Customer_Id             0
Sleep_Day               0
Day_of_Week             0
Total_Sleep_Records     0
Total_Minutes_Asleep    0
Total_Time_In_Bed       0
dtype: int64

### Drop Duplicates

In [8]:
# Dropping duplicates
sleep_df = sleep_df.drop_duplicates()

# Verifying the removal of duplicates:
sleep_df.duplicated().sum()

np.int64(0)

### Converting 'Sleep_Day' from object into datetime

In [11]:
# Converting 'Sleep_Day' from object into datetime
sleep_df['Sleep_Day'] = pd.to_datetime(sleep_df['Sleep_Day'])

# Verifying the conversion
sleep_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_Id           410 non-null    int64
 1   Sleep_Day             410 non-null    datetime64[ns]
 2   Day_of_Week           410 non-null    object
 3   Total_Sleep_Records   410 non-null    int64
 4   Total_Minutes_Asleep  410 non-null    int64
 5   Total_Time_In_Bed     410 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 19.3+ KB

### Converting 'Day_of_Week' from object into category

In [12]:
# Converting 'Day_of_Week' from object into category. Saves memory and speeds up analysis
sleep_df['Day_of_Week'] = sleep_df['Day_of_Week'].astype('category')

# Verifying the conversion
sleep_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_Id           410 non-null    int64
 1   Sleep_Day             410 non-null    datetime64[ns]
 2   Day_of_Week           410 non-null    category
 3   Total_Sleep_Records   410 non-null    int64
 4   Total_Minutes_Asleep  410 non-null    int64
 5   Total_Time_In_Bed     410 non-null    int64
dtypes: category(1), datetime64[ns](1), int64(4)
memory usage: 16.9 KB

### Adding Useful Metrics

In [13]:
# Percentage of time asleep while in bed
sleep_df['Sleep_Efficiency'] = (sleep_df['Total_Minutes_Asleep'] / sleep_df['Total_Time_In_Bed']) * 100
sleep_df['Sleep_Efficiency'] = sleep_df['Sleep_Efficiency'].round(1)
sleep_df['Sleep_Efficiency']

0      94.5
1      94.3
2      93.2
3      92.6
4      98.3
       ...
405    95.3
406    95.4
407    98.1
408    94.7
409    94.8
Name: Sleep_Efficiency, Length: 410, dtype: float64

In [14]:
# Creating a Weekend/Weekday column
sleep_df['Day_Type'] = np.where(sleep_df['Day_of_Week'].isin(['Saturday', 'Sunday']), 'Weekend', 'Weekday')

In [15]:
# Convert minutes to hours for easier interpretation
sleep_df['Total_Hours_Asleep'] = (sleep_df['Total_Minutes_Asleep'] / 60).round(2)
sleep_df['Total_Hours_In_Bed'] = (sleep_df['Total_Time_In_Bed'] / 60).round(2)

### Standardizing column names

In [20]:
# Columns cleaning and standardization
sleep_df.columns = (
    sleep_df.columns
    .str.strip()                   # removes invisible spaces
    .str.lower()                   # makes everything lowercase
    .str.replace(" ", "_")         # replaces spaces with underscores
)    

# Verifying the changes
sleep_df.columns

Index(['customer_id', 'sleep_day', 'day_of_week', 'total_sleep_records',
       'total_minutes_asleep', 'total_time_in_bed', 'sleep_efficiency',
       'day_type', 'total_hours_asleep', 'total_hours_in_bed'],
      dtype='object')

In [22]:
# Renaming Sleep_Day to date to standardize with the other tables.

sleep_df = sleep_df.rename(columns={'sleep_day': 'date'})

# Verifying the changes
sleep_df.columns

Index(['customer_id', 'date', 'day_of_week', 'total_sleep_records',
       'total_minutes_asleep', 'total_time_in_bed', 'sleep_efficiency',
       'day_type', 'total_hours_asleep', 'total_hours_in_bed'],
      dtype='object')

### Final look at the cleaned dataset!

In [23]:
sleep_df.head()

,customer_id,date,day_of_week,total_sleep_records,total_minutes_asleep,total_time_in_bed,sleep_efficiency,day_type,total_hours_asleep,total_hours_in_bed
0,1503960366,2016-04-12,Tuesday,1,327,346,94.5,Weekday,5.45,5.77
1,1503960366,2016-04-13,Wednesday,2,384,407,94.3,Weekday,6.40,6.78
2,1503960366,2016-04-15,Friday,1,412,442,93.2,Weekday,6.87,7.37
3,1503960366,2016-04-16,Saturday,2,340,367,92.6,Weekend,5.67,6.12
4,1503960366,2016-04-17,Sunday,1,700,712,98.3,Weekend,11.67,11.87

### Saving the cleaned dataset

In [24]:
# Saving the cleaned dataframe
sleep_df.to_csv("Cleaned_Sleep.csv", index=False)